extends layout.pug

block content
  main.page-content
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      ul.categories-list__wrapper
        include partials/categories.pug
    section.tickets-list
      h2.visually-hidden Предложения из категории #{category.name}
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title #{category.name}
            b.js-qty 62
        ul
          each offer in offers
            li.tickets-list__item
              .ticket-card.ticket-card--color01
                .ticket-card__img
                  img(src=`/img/${offer.picture}` alt=offer.title)
                .ticket-card__info
                  +ticketLabel(offer.type)
                  .ticket-card__categories
                    a(href="#") #{category.name}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href="#") #{offer.title}
                    p.ticket-card__price
                      span.js-sum #{offer.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{offer.description}
        .tickets-list__pagination
          ul.pagination
            li
              a.active(href="#") 1
            li
              a(href="#") 2
            li
              a(href="#") 3
            li
              a(href="#") 4
            li
              a(href="#") 5
            li
              a(href="#") дальше
